@charset "UTF-8";
@import url("animations.css");
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Tilt+Neon&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

    font-family: 'Playfair Display', serif;
}

:root {
    --azul_contraste: #116bc0;
    --textos: #363636;
    --texto_contraste: #242424;
    --fundo_segundario: #f3f3f3;
}

#img-inicio {
    background-image: url("../imagens/programador.jpg");
    background-size: contain;
    background-repeat: no-repeat;
    margin-top: 20px;
    margin-left: 15vw;
    height: 500px;
    width: 70vw;
}

#p-1, #p-2, #p-3 {
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

#p-1 {
    background-image: url("../imagens/sitefinnass.png");
}

#p-2 {
    background-image: url("../imagens/despesas.png");
}

#p-3 {
    background-image: url("../imagens/twitterclone.png");
}

p, li, a {
    font-size: 1.08em;

    text-decoration: none;
}

.titulos {
    text-align: center;
    margin-bottom: 30px;
    font-size: 1.8em;

    text-align: center;
}

.textos {
    font-size: 1.2em;
    margin-bottom: 1em;
    line-height: 1.5;
    text-indent: 20px;
    text-align: justify;

    font-family: 'Tilt Neon', cursive;

    color: var(--texto_contraste);
}

.textos-card {
    font-size: 1em;
    line-height: 1.5;
    text-indent: 20px;
    width: 90%;
    margin: auto;

    text-align: justify;

    font-family: 'Tilt Neon', cursive;

    color: var(--texto_contraste);
}

header {
    display: flex;
    padding: 20px;
    justify-content: space-around;
    align-items: center;
    box-shadow: 0px 0px 10px 6px rgba(0, 0, 0, 0.199);

    background-color: rgb(248, 248, 248);
}

header h1 {
    color: var(--azul_contraste);
}

.inicio {
    display: flex;
    align-items: center;
}

.inicio .informacoes-inicio {
    margin: 65px 0px;
    margin-left: 120px;
    width: 50vw;
    text-transform: uppercase;
    font-weight: 600;
}

.inicio .informacoes-inicio h1 {
    font-size: 2.5em;

    color: var(--azul_contraste);
}


.inicio .informacoes-inicio p {
    font-size: 1.35em;

    color: var(--textos);
}

.inicio .informacoes-inicio ul {
    list-style-type: none;
}

.inicio .informacoes-inicio ul li {
    display: inline-block;
    margin-top: 10px;
    margin-right: 10px;
    margin-left: 2px;
    padding: 5px;

    border-radius: 5px;
    background-color: rgb(26, 26, 26);
}

.informacoes-inicio .card {
    margin-bottom: 90px;
}

.inicio .informacoes-inicio ul li a {
    color: white;
}

.sobre_mim {
    padding: 65px;

    background-color: var(--fundo_segundario);
}

.projetos {
    padding: 65px;
}

.exibicao {
    display: flex;
    justify-content: space-around;
    flex-flow: row wrap;

    padding: 10px;
}

.exibicao .card {
    position: relative;
    height: 245px;
    width: 300px;
    margin: 10px;
    overflow: hidden;

    background-color: #363636;

    background-image: url("../imagens/icone_logo.png");
    background-size: cover;
    background-repeat: no-repeat;

    border: 1px solid rgb(53, 53, 53);
    border-radius: 5px;
}

.exibicao .card .card-texto {
    position: relative;
    text-align: center;

    padding: 10px;
    top: 245px;
    height: 100%;
    width: 100%;
}

.card-texto h1 {
    margin-bottom: 10px;
}

.exibicao .card .card-texto h1, .exibicao .card .card-texto p  {
    color: rgb(0, 0, 0);
}

.exibicao .card .card-texto a {
    position: absolute;
    bottom: 0;

    padding: 5px;
    width: 100px;

    transform: translate(-50%, -50%);

    color: white;

    border-radius: 5px;
    background-color: rgb(26, 26, 26);
}

.exibicao .card:hover .card-texto {
    cursor: default;
    animation: subir 0.7s forwards;
}

.exibicao .card:not(:hover) .card-texto {
    cursor: default;
    animation: descer 0.7s forwards;
}

.habilidades {
    padding: 65px;

    background-color: var(--fundo_segundario);
}

.habilidades .container {
    display: flex;
    align-items: center;
    list-style: none;
    justify-content: space-around;
    margin: auto;

    width: 85%;
}

.habilidades .container section {
    height: 200px;
}

.habilidades .container section p {
    position: absolute;
    top: 1;

    margin-top: 15px;
}

.habilidades .container section ul {
    margin-top: 60px;
}

.habilidades > p {
    margin-top: 15px;
    height: 225px;
    text-align: center;

    border-radius: 4px;
}

footer {
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 20px;
    background-color: #363636;
}

footer p {
    color: rgb(228, 228, 228);

    font-family: 'Tilt Neon', cursive;
}

footer ul {
    list-style: none;
}

footer ul li {
    display: inline-block;
    margin-right: 15px;
    
}


footer a {
    padding: 5px;

    font-family: 'Tilt Neon', cursive;
    color: white;
    text-decoration: none;
    border-radius: 5px;
    background-color: #242424;
}

@media screen and (width <= 910px) {
   #img-inicio {
        display: none;
   }

   .inicio {
        justify-content: space-around;
   }

   .inicio .informacoes-inicio {
        margin: auto;
        width: 50vw;
    }

    .inicio .informacoes-inicio .card {
        margin-bottom: 58px;
        margin-left: 20%;
        margin-top: 58px;
    }

    .habilidades .container {
        display: flex;
        align-items: center;
        flex-wrap: wrap;
        list-style: none;
        justify-content: space-around;
        margin: auto;
    
        width: 85%;
    }

    .habilidades .container section {
        margin-top: 20px;
    }

    footer ul li {
        margin-top: 20px;
    }
}